In [2]:
import pandas as pd

In [3]:
divergences_train_pd = pd.read_csv('/media/discoD/Mestrado/NoLeak/divergences_train.csv')

In [4]:
divergences_train_pd

           js1       js2       js3       js4
0     0.147136  0.188332  0.229410  0.286553
1     0.087532  0.116576  0.157803  0.225078
2     0.099407  0.130027  0.168486  0.225630
3     0.109395  0.138487  0.175115  0.231212
4     0.076322  0.105522  0.144469  0.210028
...        ...       ...       ...       ...
2153  0.062900  0.117651  0.161168  0.226222
2154  0.061904  0.105133  0.150852  0.214681
2155  0.076418  0.128507  0.177972  0.236336
2156  0.048321  0.090113  0.129143  0.192024
2157  0.045001  0.075493  0.116181  0.198202

[2158 rows x 4 columns]

In [5]:
divergences_gan_gen_pd = pd.read_csv('/media/discoD/Mestrado/NoLeak/divergences_gan_gen.csv')

In [6]:
divergences_gan_gen_pd

           js1       js2       js3       js4
0     0.128500  0.168316  0.215188  0.280693
1     0.127928  0.169615  0.217523  0.283533
2     0.118193  0.160509  0.209081  0.276808
3     0.109101  0.150880  0.200725  0.271694
4     0.140125  0.183311  0.230834  0.295352
...        ...       ...       ...       ...
2159  0.048741  0.104181  0.152037  0.232665
2160  0.056882  0.116279  0.167019  0.248893
2161  0.058350  0.117541  0.167943  0.250699
2162  0.072706  0.128650  0.178417  0.260665
2163  0.053760  0.106579  0.152075  0.233986

[2164 rows x 4 columns]

In [7]:
divergences_train_pd.describe()

               js1          js2          js3          js4
count  2158.000000  2158.000000  2158.000000  2158.000000
mean      0.072802     0.121405     0.169195     0.241207
std       0.036220     0.041775     0.042211     0.036267
min       0.021218     0.062592     0.105876     0.188542
25%       0.047725     0.095357     0.143994     0.220215
50%       0.060052     0.111089     0.160888     0.235857
75%       0.091089     0.140200     0.188225     0.252769
max       0.218597     0.351165     0.411383     0.461548

In [8]:
divergences_gan_gen_pd.describe()

               js1          js2          js3          js4
count  2164.000000  2164.000000  2164.000000  2164.000000
mean      0.092331     0.145066     0.194355     0.266102
std       0.031465     0.028074     0.026232     0.018682
min       0.035562     0.080063     0.124838     0.208800
25%       0.062004     0.121568     0.174954     0.254412
50%       0.096277     0.147225     0.196362     0.266326
75%       0.115528     0.164733     0.212233     0.277870
max       0.186912     0.232348     0.285541     0.350717